#details {
  float: left;
  margin-left: 50px;
}
#meta {
  width: 130px;
  margin-right: 25px;
}
.scoring {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
}
#played_positions {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 130px;
  background: #7B7B7B;
  height: 282px;
  color: white;
  overflow: hidden;
  overflow-y: scroll;
  font-size: 12px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
}
#played_positions .feed_item {
  padding: 10px;
  border-bottom: 1px solid #b3b3b3;
}
#played_positions .feed_item:last-child {
  padding: 10px;
  border-bottom: 0px;
}
#played_positions .feed_item .player .index {
  float: left;
}
#played_positions .feed_item .player .piece {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}
#played_positions .feed_item .player.black .piece {
  background: #000;
}
#played_positions .feed_item .player.white .piece {
  background: #fff;
}
#toggleCountBox {
  background: #7B7B7B;
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
  color: white;
  input, label {
    cursor: pointer;
  }
}
.score {
  background: #7B7B7B;
  text-align: center;
  font-size: 30px;
  padding: 15px;
  color: white;
}
.score.black .piece {
  background: black;
  margin: 0px auto 10px auto;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.score.white .piece {
  background: white;
  margin: 0px auto 10px auto;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.score .piece p {
  font-size: 22px;
  padding-top: 6px;
}
.score.white .piece p {
  color: black;
}
p.subscore {
  font-size: 15px;
}
.highlight {
  -webkit-box-shadow: 0 0 4px 0 #3B3DFF;
  box-shadow: 0 0 4px 0 #3B3DFF;
}
#pass,
#undo {
  text-decoration: none;
}
#undo .pass {
  border-left: 1px solid #b3b3b3;
}
.actions {
  overflow: auto;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
}
#meta .scoring .pass {
  padding: 10px 10px;
  background: #7B7B7B;
  text-align: center;
  font-family: 'Megrim', cursive;
  font-size: 15px;
  color: white !important;
  width: 50%;
  box-sizing: border-box;
  float: left;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.container.padded {
  padding: 25px;
  overflow: auto;
}
.undone div,
.undone div {
  text-decoration: line-through
}
@media (max-width: 767px) {
  #played_positions {
    margin-left: 16px;
  }
  #toggleCountBox {
    width: 249px;
  }
  #played_positions,
  #meta {
    float: left;
    margin: 0px;
    height: 150px;
    width: 250px;
  }
  #meta .scoring {
    .score, .actions {
      background: #7B7B7B;
      overflow: hidden;
      float: left;
      height: 122px;
      width: 83px;
      .subscore {
        font-size: 11px;
      }
    }
    .pass {
      float: none;
      width: 83px;
      border: 1px solid #b3b3b3;
      border-top: 0px;
    }
  }
}
#game {
  overflow: hidden;
  padding: 50px 0px 0px 50px;
  background: url('../images/purty_wood.png');
  float: left;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  border-radius: 2px;
}
#game table {
  border-collapse: collapse;
  border: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 15px;
}
#game table tr td {
  border: 2px solid brown;
  padding: 0px;
  margin: 0px;
  width: 50px;
  height: 50px;
}
#game table tr td div,
#game table tr td.lastPiecePlayed div:before {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  top: -25px;
  left: -21px;
  text-align: center;
}
#game table tr td.blackTurf div {
  background-color: rgba(0, 0, 0, 0.4) !important;
  -webkit-box-shadow: 0 0px 2px 0px rgba(0, 0, 0, .7);
  box-shadow: 0 0px 2px 0px rgba(0, 0, 0, .7);
}
#game table tr td.whiteTurf div {
  background-color: rgba(255, 255, 255, 0.4) !important;
  -webkit-box-shadow: 0 0px 2px 0px rgba(0, 0, 0, .7);
  box-shadow: 0 0px 2px 0px rgba(0, 0, 0, .7);
}
#game table tr td.Black div {
  background-color: black !important;
  -webkit-box-shadow: 0 0px 2px 0px rgba(0, 0, 0, .7);
  box-shadow: 0 0px 2px 0px rgba(0, 0, 0, .7);
}
#game table tr td.White div {
  background-color: white !important;
  -webkit-box-shadow: 0 0px 2px 0px rgba(0, 0, 0, .7);
  box-shadow: 0 0px 2px 0px rgba(0, 0, 0, .7);
}
#game table tr td.lastPiecePlayed div:hover span {
  color: transparent !important;
}
#game table tr td.blackTurf div:hover span {
  color: white !important;
}
.currentPlayerBlack #game table tr td.Black div:hover span,
.currentPlayerBlack #game table tr td.blackTurf div:hover span,
.currentPlayerWhite #game table tr td.Black div:hover span,
.currentPlayerWhite #game table tr td.blackTurf div:hover span {
  color: white;
}
#game table tr td.whiteTurf div:hover span {
  color: black !important;
}
.currentPlayerBlack #game table tr td.White div:hover span,
.currentPlayerBlack #game table tr td.whiteTurf div:hover span,
.currentPlayerWhite #game table tr td.White div:hover span,
.currentPlayerWhite #game table tr td.whiteTurf div:hover span {
  color: black;
}
#game table tr td.lastPiecePlayed div:before {
  content: "";
  display: block;
  width: 20px !important;
  height: 20px !important;
  top: 10px;
  left: 10px;
}
#game table tr td.White.lastPiecePlayed div:before {
  border-color: black !important;
  background-color: white !important;
  border: 1px solid black !important;
  -webkit-box-shadow: 0 0px 2px 0px rgba(0, 0, 0, .7);
  box-shadow: 0 0px 2px 0px rgba(0, 0, 0, .7);
}
#game table tr td.Black.lastPiecePlayed div:before {
  border-color: white !important;
  background-color: black !important;
  border: 1px solid white !important;
  -webkit-box-shadow: 0 0px 2px 0px rgba(255, 255, 255, .7);
  box-shadow: 0 0px 2px 0px rgba(255, 255, 255, .7);
}
#game table tr td div span {
  color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  top: 10px;
  letter-spacing: 1px;
  font-weight: 500;
}
.currentPlayerWhite #game table tr td div:hover {
  background-color: rgba(255, 255, 255, .5);
  cursor: pointer;
  span {
    color: black;
  }
}
.currentPlayerBlack #game table tr td div:hover {
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  span {
    color: white;
  }
}
/* right, bottom > column of numbers */

#game table tr td:nth-last-child(1),
#game table tr:nth-last-child(1) td {
  border: 0px;
}
/* left, right, bottom, top > columns and rows */

#game table tr td:nth-child(1),
#game table tr td:nth-last-child(1),
#game table tr:nth-last-child(1) td,
#game table tr:nth-child(1) td {
  position: relative;
}
/* left > column of numbers */

#game table tr td:nth-child(1):before {
  top: -13px;
  left: -37px;
}
/* right > column of numbers */

#game table tr td:nth-last-child(1):before {
  left: 25px;
  top: -13px;
}
/* bottom > row of letters */

#game table tr:nth-last-child(1) td:after {
  left: -5px;
  top: 18px;
}
/* top > row of letters */

#game table tr:nth-child(1) td:after {
  top: -45px;
  left: -5px;
}
/* left, right, bottom, top > columns and rows */

#game table tr td:nth-child(1):before,
#game table tr td:nth-last-child(1):before,
#game table tr:nth-last-child(1) td:after,
#game table tr:nth-child(1) td:after {
  position: absolute;
  color: brown;
  z-index: 10;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}
/* left, right > column of numbers */

#game table tr:nth-last-child(1) td:nth-child(1):before,
#game table tr:nth-last-child(1) td:nth-last-child(1):before {
  content: "1";
  margin-left: 2px;
}
#game table tr:nth-last-child(2) td:nth-child(1):before,
#game table tr:nth-last-child(2) td:nth-last-child(1):before {
  content: "2";
}
#game table tr:nth-last-child(3) td:nth-child(1):before,
#game table tr:nth-last-child(3) td:nth-last-child(1):before {
  content: "3";
}
#game table tr:nth-last-child(4) td:nth-child(1):before,
#game table tr:nth-last-child(4) td:nth-last-child(1):before {
  content: "4";
}
#game table tr:nth-last-child(5) td:nth-child(1):before,
#game table tr:nth-last-child(5) td:nth-last-child(1):before {
  content: "5";
}
#game table tr:nth-last-child(6) td:nth-child(1):before,
#game table tr:nth-last-child(6) td:nth-last-child(1):before {
  content: "6";
}
#game table tr:nth-last-child(7) td:nth-child(1):before,
#game table tr:nth-last-child(7) td:nth-last-child(1):before {
  content: "7";
}
#game table tr:nth-last-child(8) td:nth-child(1):before,
#game table tr:nth-last-child(8) td:nth-last-child(1):before {
  content: "8";
}
#game table tr:nth-last-child(9) td:nth-child(1):before,
#game table tr:nth-last-child(9) td:nth-last-child(1):before {
  content: "9";
}
#game table tr:nth-last-child(10) td:nth-child(1):before,
#game table tr:nth-last-child(10) td:nth-last-child(1):before {
  content: "10";
}
#game table tr:nth-last-child(11) td:nth-child(1):before,
#game table tr:nth-last-child(11) td:nth-last-child(1):before {
  content: "11";
}
#game table tr:nth-last-child(12) td:nth-child(1):before,
#game table tr:nth-last-child(12) td:nth-last-child(1):before {
  content: "12";
}
#game table tr:nth-last-child(13) td:nth-child(1):before,
#game table tr:nth-last-child(13) td:nth-last-child(1):before {
  content: "13";
}
#game table tr:nth-last-child(14) td:nth-child(1):before,
#game table tr:nth-last-child(14) td:nth-last-child(1):before {
  content: "14";
}
#game table tr:nth-last-child(15) td:nth-child(1):before,
#game table tr:nth-last-child(15) td:nth-last-child(1):before {
  content: "15";
}
#game table tr:nth-last-child(16) td:nth-child(1):before,
#game table tr:nth-last-child(16) td:nth-last-child(1):before {
  content: "16";
}
#game table tr:nth-last-child(17) td:nth-child(1):before,
#game table tr:nth-last-child(17) td:nth-last-child(1):before {
  content: "17";
}
#game table tr:nth-last-child(18) td:nth-child(1):before,
#game table tr:nth-last-child(18) td:nth-last-child(1):before {
  content: "18";
}
#game table tr:nth-last-child(19) td:nth-child(1):before,
#game table tr:nth-last-child(19) td:nth-last-child(1):before {
  content: "19";
}
/* bottom, top > row of letters */

#game table tr:nth-last-child(1) td:nth-child(1):after,
#game table tr:nth-child(1) td:nth-child(1):after {
  content: "A";
}
#game table tr:nth-last-child(1) td:nth-child(2):after,
#game table tr:nth-child(1) td:nth-child(2):after {
  content: "B";
}
#game table tr:nth-last-child(1) td:nth-child(3):after,
#game table tr:nth-child(1) td:nth-child(3):after {
  content: "C";
}
#game table tr:nth-last-child(1) td:nth-child(4):after,
#game table tr:nth-child(1) td:nth-child(4):after {
  content: "D";
}
#game table tr:nth-last-child(1) td:nth-child(5):after,
#game table tr:nth-child(1) td:nth-child(5):after {
  content: "E";
}
#game table tr:nth-last-child(1) td:nth-child(6):after,
#game table tr:nth-child(1) td:nth-child(6):after {
  content: "F";
}
#game table tr:nth-last-child(1) td:nth-child(7):after,
#game table tr:nth-child(1) td:nth-child(7):after {
  content: "G";
}
#game table tr:nth-last-child(1) td:nth-child(8):after,
#game table tr:nth-child(1) td:nth-child(8):after {
  content: "H";
}
#game table tr:nth-last-child(1) td:nth-child(9):after,
#game table tr:nth-child(1) td:nth-child(9):after {
  content: "I";
}
#game table tr:nth-last-child(1) td:nth-child(10):after,
#game table tr:nth-child(1) td:nth-child(10):after {
  content: "J";
}
#game table tr:nth-last-child(1) td:nth-child(11):after,
#game table tr:nth-child(1) td:nth-child(11):after {
  content: "K";
}
#game table tr:nth-last-child(1) td:nth-child(12):after,
#game table tr:nth-child(1) td:nth-child(12):after {
  content: "L";
}
#game table tr:nth-last-child(1) td:nth-child(13):after,
#game table tr:nth-child(1) td:nth-child(13):after {
  content: "M";
}
#game table tr:nth-last-child(1) td:nth-child(14):after,
#game table tr:nth-child(1) td:nth-child(14):after {
  content: "N";
}
#game table tr:nth-last-child(1) td:nth-child(15):after,
#game table tr:nth-child(1) td:nth-child(15):after {
  content: "O";
}
#game table tr:nth-last-child(1) td:nth-child(16):after,
#game table tr:nth-child(1) td:nth-child(16):after {
  content: "P";
}
#game table tr:nth-last-child(1) td:nth-child(17):after,
#game table tr:nth-child(1) td:nth-child(17):after {
  content: "Q";
}
#game table tr:nth-last-child(1) td:nth-child(18):after,
#game table tr:nth-child(1) td:nth-child(18):after {
  content: "R";
}
#game table tr:nth-last-child(1) td:nth-child(19):after,
#game table tr:nth-child(1) td:nth-child(19):after {
  content: "S";
}
#game table tr:nth-last-child(1) td:nth-last-child(1):after,
#game table tr:nth-child(1) td:nth-last-child(1):after {
  margin-top: 1px;
}